.bg-img {
  height: 0;

  .bg-img__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  // 图片垂直水平居中，不拉伸、不留白
  .bg-img__img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;

    .ant-image {
      width: 100%;
      height: 100%;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}
